
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Variables
@import "_variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


#admin{
	@import "_admin";
	
		.gif-responsive{
			width:10% !important;
			height: auto;
		}
}


#front{
	.body{
		a{
			font-size:1.25em;
			color:#fff;
		}
		margin-top:60px;
		@import "_pinterest";
		#only-one{
			padding-top:0px !important;
			.work-wrapper{
				position:relative !important;
			}
		}
		.social-buttons{
			a{
				font-size:2em;	
				margin:0px 5px !important;
			}
		}
	}
	
		
}